---
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" href="/logo.png" type="image/x-icon" id="favicon" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="title" content={title} />
<link rel="canonical" href="https://mblcdev.com/" />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/logo.png" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<link rel="apple-touch-icon" href="/logo.png" />
<meta name="theme-color" content="#ffffff" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="/logo.png" />
