---
import { getLangFromUrl } from "../i18n/utils";

const data = {
  en: {
    title: "Your Problem, Our",
    titleWord: "Solution",
    text: "Our goal is to simplify the complex, and give you the right tools to focus on growing.",
    btnOne: "Discover how we can help you",
    btnTwo: "Services",
  },
  es: {
    title: "Tu Problema, Nuestra",
    titleWord: "Solución",
    text: "Nuestro objetivo es simplificar lo complejo, y darte las herramientas adecuadas para que puedas concentrarte en crecer.",
    btnOne: "Descubre cómo podemos ayudarte",
    btnTwo: "Servicios",
  },
};

const lang = getLangFromUrl(Astro.url);
---

<section
  class="min-h-screen overflow-hidden relative flex flex-col justify-center items-center px-4"
>
  <img
    src="/forest.webp"
    alt="bg"
    loading="lazy"
    class="absolute left-0 top-0 w-screen h-screen opacity-75 -z-10 mix-blend-multiply object-cover mask-b-to-transparent"
  />
  <div
    class="w-full md:w-[70%] mx-auto text-secondary flex flex-col justify-center gap-5"
  >
    <div class="flex justify-center items-center flex-col">
      <h1
        id="title"
        class="blur-reveal tracking-wide font-display text-5xl md:text-7xl lg:text-9xl text-center text-balance antialiased"
      >
        {data[lang].title}
        <span class="text-primary"> {data[lang].titleWord}</span>
      </h1>
      <p
        id="subtitle"
        class="blur-reveal max-w-xl mt-5 text-center text-base font-medium antialiased text"
      >
        {data[lang].text}
      </p>
    </div>
    <div class="flex justify-center items-center">
      <div class="flex gap-6 flex-col md:flex-row">
        <button
          data-cal-link="mblcdev/15min"
          data-cal-namespace="15min"
          data-cal-config='{"layout":"month_view"}'
          class="button-blur-reveal hover:scale-[1.02] active:scale-[0.98] text-center px-8 py-4 bg-quaternary text-tertiary overflow-hidden font-medium rounded-lg transition-transform duration-150 antialiased shadow-lg"
        >
          {data[lang].btnOne}
        </button>
        <a
          href="#services"
          class="button-blur-reveal hover:scale-[1.02] active:scale-[0.98] text-center px-8 py-4 overflow-hidden bg-secondary text-tertiary font-medium rounded-lg transition-transform duration-150 antialiased shadow-lg"
        >
          {data[lang].btnTwo}
        </a>
      </div>
    </div>
  </div>
</section>
<style>
  .blur-reveal {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(20px);
  }
  .button-blur-reveal {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(20px);
  }
</style>
<script>
  import { gsap } from "gsap";

  window.addEventListener("DOMContentLoaded", () => {
    gsap.to("#title", {
      duration: 1.2,
      opacity: 1,
      filter: "blur(0px)",
      y: 0,
      ease: "power3.out",
      delay: 0.2,
    });
    gsap.to("#subtitle", {
      duration: 1.2,
      opacity: 1,
      filter: "blur(0px)",
      y: 0,
      ease: "power3.out",
      delay: 0.4,
    });
    gsap.to(".button-blur-reveal", {
      duration: 1.2,
      opacity: 1,
      filter: "blur(0px)",
      y: 0,
      ease: "power3.out",
      delay: 0.6,
    });
  });
</script>
