---
import Work from "../components/Work.astro";
import SectionHeader from "../components/ui/SectionHeader.astro";
import { getLangFromUrl } from "../i18n/utils";

interface Work {
  title: string;
  area: string;
  time: string;
  views: string;
  url: string;
  desktop: string;
}

const lang = getLangFromUrl(Astro.url);
const data = await import(`../data/work.${lang}.json`);
const works = data.default;
const sectionTitle = lang === "es" ? "Trabajos Recientes" : "Recent Works";
---

<section class="container mx-auto px-4 mt-10">
  <SectionHeader title={sectionTitle} />
  <div class="space-y-20">
    {
      works.map(({ title, area, time, views, url, desktop }: Work) => (
        <Work
          title={title}
          area={area}
          time={time}
          views={views}
          url={url}
          desktop={desktop}
        />
      ))
    }
  </div>
</section>
