---
import { getCollection, render } from "astro:content";
import Blog from "../../../layouts/Blog.astro";
export const getStaticPaths = async () => {
  const diary = await getCollection("books");
  const diaryFiltered = diary.filter((post) => post.id.startsWith("en/"));

  return diaryFiltered.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};
const { post } = Astro.props;
const { Content } = await render(post);
---

<Blog title={post.data.title} description={post.data.description}>
  <div class="h-96 mb-8">
    <img
      src={post.data.image}
      alt={post.data.title}
      loading="lazy"
      decoding="async"
      draggable="false"
      class="size-full rounded-lg aspect-video object-cover shadow-lg"
    />
  </div>
  <h1>{post.data.title}</h1>
  <Content />
  <div class="flex justify-between items-center flex-wrap mt-5">
    <p class="font-semibold">
      — {post.data.author}
    </p>
    <p class="font-semibold">
      <time
        >{
          post.data.pubDate.toLocaleDateString("es-PE", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }</time
      >
    </p>
  </div>
</Blog>
